### Ticketmaster Tour Data: Can we predict revenue & venue capacity utilization?

**Context**

Imagine you are an independent touring musican armed with the latest Ticketmaster tour sales data available from touringdata.org and you would like to plan where to have your next show or perhaps a performance tour. Using the available data from Ticketmaster can we make informed decisions about where to play to meet revenue requirements or at least play to rooms full of fans? 

**Overview**

The goal of this project is to use data visualizations and probability distributions to distinguish between events that maximized revenue and/or venue capacity utilization and those that did not.

**Data**

touringdata.org allows access to this Ticketmaster touring data via year-specific master documents from 2024 onward via the Patreon link: https://www.patreon.com/c/touringdataLinks to an external data-hosting site.

**Deliverables**

This notebook will deliver brief report that highlights the differences between events that maximized revenue and/or venue capacity utilization and those that did not. Additionally an appropriate predictive model will be proposed.

### Data Description

The attributes of this data set include:
- Event Start Date
- Event End Date
- Number of Shows
- Artist Name
- Revenue (USD)
- Tickets Sold
- Estimated Capacity
- Capacity Utilization (%)
- Venue
- City
- Country

In [1]:
from google.colab import drive
drive.mount('/content/drive')
prefix = '/content/drive/MyDrive/Colab Notebooks/tour-data-eda/'

ModuleNotFoundError: No module named 'google.colab'

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

### Problems

Use the prompts below to get started with your data analysis.  

1. Read in the `2024_2025_MasterDocument.csv` file.

In [3]:
import pandas as pd

path = 'data/2024_2025_MasterDocument.csv'
try:
  path = prefix + path
except NameError:
  pass

df = pd.read_csv(path)

image_path = 'images/'
try:
  image_path = prefix + image_path
except NameError:
  pass

2. Investigate the dataset for missing or problematic data.

In [4]:
df.head()

,Event Date,Event Date.1,Shows,Artist,Revenue (USD),Tickets Sold,Capacity,%,Venue,City,Country,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,11/13/2025,11/14/2025,2,Lady Gaga,5297329,26324,26324,100%,LDLC Arena,Lyon,France,NaN,NaN,NaN
1,11/12/2025,11/12/2025,1,Corona Capital Session,1116932,9668,13356,72.39%,Estadio Banorte,Monterrey,Mexico,NaN,NaN,NaN
2,11/12/2025,11/12/2025,1,Zoé,3721003,57332,57332,100%,Estadio GNP Seguros,Mexico City,Mexico,NaN,NaN,NaN
3,11/11/2025,11/11/2025,1,Katy Perry,2412047,15399,15617,98.60%,Movistar Arena,Madrid,Spain,NaN,NaN,NaN
4,11/10/2025,11/10/2025,1,Ricky Martin,1623385,11157,11157,100%,Qudos Bank Arena,Sydney,Australia,NaN,NaN,NaN

In [5]:
df.shape

# Note: original data has 12684 rows and 26 columns

(7776, 14)

In [6]:
df.info()

# Note: car column only has 108 non-null rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7776 entries, 0 to 7775
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Event Date     7776 non-null   object
 1   Event Date.1   7776 non-null   object
 2   Shows          7776 non-null   int64
 3   Artist         7776 non-null   object
 4   Revenue (USD)  7776 non-null   int64
 5   Tickets Sold   7776 non-null   int64
 6   Capacity       7776 non-null   int64
 7   %              7776 non-null   object
 8   Venue          7776 non-null   object
 9   City           7774 non-null   object
 10  Country        7776 non-null   object
 11  Unnamed: 11    0 non-null      float64
 12  Unnamed: 12    0 non-null      float64
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(3), int64(4), object(7)
memory usage: 850.6+ KB

In [11]:
# Investigation:
# Look for unique column values to try to spot duplications, notable
# characteristics, or nonsensical values that can be cleaned (either dropped or # substituted)

for col in df.columns:
    if col not in ['Event Date', 'Event Date.1']:  # Skip Event Date
        print(f"{col}: {df[col].unique()}")

# Findings and observations:

Shows: [ 2  1  3  6  4  9 10  5 13  7  8 16 25 32 22 12 14 31 26 34 15 29]
Artist: ['Lady Gaga' 'Corona Capital Session' 'Zoé' ... 'MajestuOsos'
 'Beetlejuice - The Musical' 'Motion City Soundtrack']
Revenue (USD): [5297329 1116932 3721003 ... 2519652   51668  131857]
Tickets Sold: [26324  9668 57332 ...  2671   723 35817]
Capacity: [26324 13356 57332 ... 11776 18200 59310]
%: ['100%' '72.39%' '98.60%' ... '60.39%' '33.75%' '82.48%']
Venue: ['LDLC Arena' 'Estadio Banorte' 'Estadio GNP Seguros' ... 'Fenix Beach'
 'Hanover Theatre' 'Matakana Country Park']
City: ['Lyon' 'Monterrey' 'Mexico City' 'Madrid' 'Sydney' 'Perth' 'New York'
 'Evansville' 'Adeje' 'Morrison' 'San Francisco' 'Newark' 'Adelaide'
 'Bogotá' 'Berlin' 'Rosemont' 'Boise' 'Cleveland' 'Melbourne' 'Detroit'
 'Billings' 'Vienna' 'Atlanta' 'Manchester' 'Washington' 'Bismarck'
 'Bowling Green' 'Memphis' 'Boston' 'Santiago' 'Phoenix' 'Grand Forks'
 'Brisbane' 'Macau' 'Kansas City' 'Parramatta' 'Nottingham' 'Charlotte'
 'Chicago' 'Tampa' 'Rapid City' 'Inglewood' 'Cali' 'Goyang' 'Nashville'
 'Montreal' 'Sioux Falls' 'Raleigh' 'Miami' 'Huntsville' 'Cologne'
 'Columbia' 'Hamburg' 'Birmingham' 'Durham' 'Milan' 'Indianapolis'
 'Sioux City' 'New Orleans' 'Hannover' 'Bemidji' 'Delhi' 'Midland'
 'Leipzig' 'Milwaukee' 'Guadalajara' 'Amsterdam' 'Stockholm' 'Oakland'
 'Green Bay' 'Vina Del Mar' 'London' 'Cincinnati' 'Cedar Rapids'
 'Greensboro' 'Columbus' 'Omaha' 'Mannheim' 'Grand Rapids' 'Düsseldorf'
 'Saint Augustine' 'Berkeley' 'Orlando' 'Johannesburg' 'Newcastle'
 'Sheffield' 'Jacksonville' 'Des Moines' 'Quebec City' 'Clearwater'
 'Ontario' 'Belfast' 'Duluth' 'Hershey' 'Panama City' 'Oklahoma City'
 'Baltimore' 'Charlottesville' 'Fresno' 'Philadelphia' 'Chattanooga'
 'Sunrise' 'Guatemala City' 'Jonesboro' 'Zürich' 'São Paulo' 'Beaumont'
 'Dallas' 'San Antonio' 'Verona' 'Bristol' 'Charleston' 'Kobe' 'Las Vegas'
 'Anaheim' 'Biloxi' 'Reno' 'Yokohama' 'Denver' 'Madison' 'Veracruz'
 'Osaka' 'Niagara Falls' 'Minneapolis' 'Laval' 'Portland' 'San Juan'
 'Fairfax' 'Uncasville' 'St. Louis' 'Clarkston' 'Lafayette' 'San Diego'
 'Troutdale' 'Fort Worth' 'Cary' 'Corbin' 'Tokyo' 'Lisbon' 'Bethlehem'
 'Sacramento' 'Bridgeport' 'Lincoln' 'Barcelona' 'Puebla' 'Toronto'
 'Los Angeles' 'Arnhem' 'Houston' 'Gelsenkirchen' 'Stateline' 'Austin'
 'San Jose' 'Paris' 'Arlington' 'Querétaro' 'Noblesville' 'Rogers'
 'Fukuoka' 'Aberdeen' 'Costa Mesa' 'Concord' 'Wausau' 'Cardiff' 'Leeds'
 'Tinley Park' 'Copenhagen' 'Saratoga Springs' 'Bangkok' 'East Hartford'
 'Ridgedale' 'Seattle' 'Nampa' 'Nagoya' 'Liverpool' 'Idaho Falls'
 'Edinburgh' 'Ottawa' 'Kaunas' 'Bonner' 'Wheatland' 'Torreon' 'Syracuse'
 'Hull' 'Bethel' 'Chihuahua' 'Chiba' 'Richmond' 'Virginia Beach' 'Camden'
 'Hermosillo' 'Olbia' 'Saint Paul' 'East Rutherford' 'Arequipa' 'Bristow'
 'Tijuana' 'Magdalena del Mar' 'Frankfurt' 'Buffalo' 'West Palm Beach'
 'Winnipeg' 'Hollywood' 'Antwerp' 'Alpharetta' 'Carnation' 'Edmonton'
 'Warsaw' 'Vancouver' 'Ostuni' 'Gautier' 'Campobasso' 'Rome' 'Manila'
 'Cinquale' 'Canandaigua' 'Landover' 'Atlantic City' 'Darien' 'Guayaquil'
 'Catania' 'Norfolk' 'Quito' 'West Valley City' 'Park City' 'Luxembourg'
 'Cuyahoga Falls' 'Montevideo' 'Dublin' 'Oslo' 'Burgettstown' 'San Miguel'
 'Gilford' 'East Troy' 'Pompeii' 'Naples' 'Hong Kong' 'Mansfield' 'Lille'
 'Gardone Riviera' 'Saginaw' 'Maryland Heights' 'Bari' 'Wakefield'
 'Glasgow' 'Este' 'Tucson' 'Sofia' 'Budapest' 'Tallahassee' 'Paso Robles'
 'Frenchtown' 'Taipei' 'North Charleston' 'Llandudno' 'Incheon' 'Belgrade'
 'Messina' 'San Pedro Garza Garcia' 'Rosario' 'Pittsburgh' 'Orange Beach'
 'Foxborough' 'Bangor' 'Valencia' 'Alba' 'Tulalip' 'Werchter' 'Imola'
 'Limerick' 'Bend' 'Cordoba' 'Ipswich' 'Bucaramanga' 'Woodlands' 'Garland'
 'Athens' 'Buenos Aires' 'Santa Clara' 'Tampere' 'Highland' 'Calgary'
 'Alpine' 'Turin' 'Brussels' 'Mountain View' 'Trondheim' 'Ancona'
 'Rotterdam' 'Munich' 'Aarhus' 'Sabbiadoro' 'Stuttgart' 'Auburn'
 'Barranquilla' 'Palma de Mallorca' 'Padova' 'Honolulu' 'Tilburg'
 'Ridgefield' 'Estero' 'Florence' 'Franklin' 'Udine' 'Sugar Land'
 'Knoxville' 'Redmond' 'San Sebastian' 'Reggio Emilia' 'León' 'Glendale'
 'Huntington' 'Ferrara' 'Newport' 'Brandon' 'Wiesbaden' 'Auckland'
 'Somerset' 'Scheessel' 'Taranto' 'San Luis Potosí' 'Cork' 'Helsinki'
 'Tulsa' 'Prague' 'Medellin' 'Fargo' 'Rama' 'Lancenigo' 'Huddersfield'
 'Leon' 'Reading' 'Mount Pleasant' 'El Paso' 'Regina' 'Wilmington'
 'Bologna' 'Oxon Hill' 'Saitama' 'Cheyenne' 'Salta' 'Tucuman' 'Stavanger'
 'San Luis Potosi' 'Pueblo' 'Marseille' 'Coimbra' 'Holmdel' 'Mashantucket'
 'Veneto' 'Nurburg' 'Nuremberg' 'Łódź' 'Queretaro' 'Amarillo' 'Leicester'
 'Albuquerque' 'Providence' 'Champaign' 'Tallinn' 'Istanbul' 'Wantagh'
 'Bratislava' 'Granada' 'Merida' 'Everett' 'Stanford' 'Shekvetili'
 'Curitiba' 'Rio De Janeiro' 'Kraków' 'Gliwice' 'Gdańsk' 'Halifax'
 'Moncton' 'Dubai' 'Singapore' 'Wellington' 'Erfurt' 'Muncie' 'Albany'
 'Chemnitz' 'Peoria' 'Stockton' 'Silver Spring' 'Rio de Janeiro'
 'Blacksburg' 'Esch Sur Alzette' 'West Hollywood' 'York' 'Sakhir'
 'Edinburg' 'Southport' 'Bremen' 'Jakarta' 'Valledupar' 'Dortmund'
 'Chandler' 'Hanover' 'Lubbock' 'Greenville' 'Doha' 'Salt Lake City'
 'Zurich' 'Toulouse' 'North Little Rock' 'Lima' 'Abu Dhabi' 'Independence'
 'Cochabamba' 'Wroclaw' 'Inverness' 'Statesboro' 'Riga' 'Tempe'
 'Springfield' 'Hidalgo' 'Lexington' 'Wichita' 'Fort Collins'
 'Colorado Springs' 'Grand Junction' 'Floirac' 'Frederiksberg' 'Mesa'
 'Fort Wayne' ' San Antonio' 'Medellín' 'Kagawa' 'San Luis Obispo'
 'Asheville' 'Mendoza' 'Asuncion' 'Nice' 'Starkville' 'Shipshewana'
 'Novara' 'Clarksville' 'Ghent' 'Savannah' 'Wilhelmshaven' 'Pisa'
 'Ottumwa' 'Flensburg' 'Pelham' 'Brunswick' 'Seoul' 'University Park'
 'Tenerife' 'Las Palmas' 'Jesolo' 'Kaohsiung' 'Wallingford' 'Porto Alegre'
 'Grand Prairie' 'Porto' 'Spokane' 'Wilkes-Barre' 'Dayton' 'Pensacola'
 'Sarasota' 'Belo Horizonte' 'Fort Myers' 'Seville' 'Surfers Paradise'
 'Cedar Park' 'Fortitude Valley' 'Osnabruck' 'Baton Rouge' 'Mobile'
 'Owensboro' 'Bulacan' 'Hoffman Estates' 'Rockford' 'Kaiserslautern'
 'Toledo' 'Gottingen' 'Bexhill-on-Sea' 'Hangzhou' 'Wolverhampton'
 'Augusta' 'Gateshead' 'Rostock' 'Lubeck' 'Portsmouth' 'Gurgaon'
 'Gothenburg' 'Geneva' 'Shillong' 'Aguascalientes' 'Santiago de Querétaro'
 'Bengaluru' 'Brno' 'Royapettah' 'Hyderabad' 'Solothurn' 'Rohnert Park'
 'Oldenburg' 'Pune' 'Fulda' 'Kent' 'Moline' 'Ahmedabad' 'Northbridge'
 'Jena' 'Montecatini' 'Thimphu' 'Clarksburg' 'Oberhausen' 'Eboli'
 'Wheeling' nan 'Dubendorf' 'Palm Springs' 'Mumbai' 'Marrickville'
 'Torino' 'Treviso' 'Manizales' 'Mill Valley' 'Englewood' 'Daytona Beach'
 'Auderghem' 'St. Louis ' 'Coburg North' 'Saint Catharines' 'Freiburg'
 'Venice' 'Greeley' 'Akron' 'Louisville' 'Davenport' 'Grand Island'
 'Jackson' 'Schiedam' 'Ardmore' 'Livorno' 'Cedar Falls' 'Groningen'
 'Myrtle Beach' 'New Town' 'Ljubljana' 'Ormond Beach' 'Manhattan'
 'Eau Claire' 'Bambolim' 'Worcester' 'Killarney' 'Santa Ana' 'Maastricht'
 'Brookfield' 'Logan' 'Gurugram' 'Dusseldorf' 'Solana Beach' 'Trenton'
 'Basel' 'Kalamazoo' 'Morro Bay' 'Kolkata' 'West Footscray' 'Shippensburg'
 'Charles Town' 'Malaga' 'Pamplona' 'Belém' 'Burlington' 'Long Beach'
 'Eugene' 'Zaragoza' 'State College' 'Bossier City' 'Essen' 'Binghamton'
 'Salzburg' 'Allentown' 'Red Bank' 'Bogota' 'Montpellier' 'Piacenza'
 'Saint Étienne' 'Cournon' 'Trieste' 'Kuala Lumpur' 'Trelaze' 'Pesaro'
 'Mantova' 'Youngstown' 'Tacoma' 'Bournemouth' 'Taoyuan'
 'Boulogne-Billancourt' 'Bath' 'Vercelli' 'Stockton-On-Tees' 'Rio Rancho'
 'Amiens' 'Erie' 'Rochester' 'Roanoke' 'Gold Coast' 'Council Bluffs'
 'Corpus Christi' 'Lahti' 'Robinsonville' 'Dornbirn' 'Jyvaskyla' 'Bolzano'
 'Macon' 'Espoo' 'Turku' 'Stoke-On-Trent' 'Valinhos' 'San Salvador'
 'Tegucigalpa' 'Kennewick' 'Missoula' 'Saint Charles' 'Dresden' 'Cerritos'
 'Henderson' 'Sterling Heights' 'Chula Vista' 'Juarez' 'Durant' 'Laredo'
 'Hartford' 'George' 'Ibague' 'Scranton' 'Alexandria' 'Flagstaff' 'Urbana'
 'Brighton' 'Thousand Oaks' 'Oceanside' 'Haikou' 'Bellvue' 'Larnaca'
 'Riverside' 'Bonner Springs' 'Mexicali' 'San Bernardino' 'Miyagi' 'Bern'
 'Pocatello' "St. John's" 'Margate' 'Bucharest' 'Saskatoon' 'Whitby'
 'Cambridge' 'St. Paul' 'Windsor' 'Zagreb' 'Envigado' 'Vigo' 'Hampton'
 'Alicante' 'Hradec Králové' 'Atlanta ' 'Apopka' 'Winder' 'LaGrange'
 'Chiclana' 'Simpsonville' 'Bergen' 'La Coruña' 'Mönchengladbach' 'Lucca'
 'Irving' 'Monticello' 'Sketty' 'Sandy' 'Roquetas De Mar'
 'Roquetes De Mar' 'Bloemendaal' 'Tarragona' 'Darien Center' 'Aspach'
 'New York ' 'Murcia' 'Odense' 'Woodinville' 'Almería' 'Krakow' 'Pescara'
 'Kennesaw' 'Newark ' 'Nijmegen' 'Badajoz' 'Ostende' 'Hiroshima'
 'Little Rock' 'Nancy-Maxeville' 'Marbella' 'Toronto ' 'Las Vegas '
 'Moenchengladbach' 'Lodz' 'Lewiston' 'Vienne' 'College Station'
 'Vitoria Gasteiz' 'Goteborg' 'Arrecife' 'Prestonsburg' 'Herning' 'Astana'
 'Middlesbrough' 'Sao Paulo' 'Iffezheim' 'Aarberg' 'Swansea' 'Segrate'
 'Plymouth' 'Oberhof' 'Southampton' 'White Plains' 'San José'
 'Milton Keynes' 'Norwich' 'Bad Segeberg' 'Ames' 'Manaus' 'Guácima'
 'Sunderland' 'Asunción' 'Salt Lake City ' 'Shenzhen' 'Guangzhou'
 'Shanghai' 'Kilkenny' 'Beijing' 'New Braunfels' 'Goiânia' 'Toulon'
 'Harrisburg' 'Brasília' 'Hawart Ingah' 'Valley Center' 'Lowell' 'Flint'
 'Saint Herblain' 'Recife' 'Orchard Park' 'Chasseneuil-du-Poitou'
 'Tuscaloosa' 'Joplin' 'Caen Cedex' 'Quebec' 'Elkhart' 'Morelia'
 'Fortaleza' 'Kenosha' 'Princeton' 'Hudsonville' 'Oaxaca' 'Sunset Hills'
 'Abbotsford' 'Southaven' 'North Myrtle Beach' 'Eckbolsheim' 'Coroglen'
 'Cancun' 'Highland Heights' 'Villahermosa' ' St. Louis' 'Wichita Falls'
 'Caracas' 'Townsville' 'Longview' 'Bilbao' 'Florianópolis' 'Thackerville'
 'Santo Domingo' 'Córdoba' 'Loveland' 'Culiacan' 'Plant City'
 'Ribeirão Preto' 'Moyston' 'Dunedin' 'Utrecht' 'Port Melbourne' 'Jupiter'
 'Juiz de Fora' 'Modesto' 'Rennes' 'Morristown' 'Palm Desert' 'Bozeman'
 'Zapopan' 'Managua' 'New Clark City' 'Evanston' 'Appleton' 'Magdeburg'
 'Medford' 'Capitol Theatre' 'Shirley' 'Pawtucket' 'Cartagena'
 'New Plymouth' 'Matakana']
Country: ['France' 'Mexico' 'Spain' 'Australia' 'United States' 'Colombia'
 'Germany' 'Austria' 'England' 'Macau' 'South Korea' 'Canada' 'Italy'
 'India' 'Netherlands' 'Sweden' 'Chile' 'South Africa' 'Northern Ireland'
 'Panama' 'Guatemala' 'Switzerland' 'Brazil' 'Japan' 'Puerto Rico'
 'Portugal' 'Wales' 'Denmark' 'Thailand' 'Scotland' 'Lithuania' 'Peru'
 'Belgium' 'Poland' 'Argentina' 'Philippines' 'Ecuador' 'Luxembourg'
 'Uruguay' 'Ireland' 'Norway' 'Hong Kong' 'Bulgaria' 'Hungary' 'Taiwan'
 'Serbia' 'Greece' 'Finland' 'New Zealand' 'Czech Republic' 'Estonia'
 'Turkey' 'Slovakia' 'Georgia' 'United Arab Emirates' 'Singapore'
 'Bahrain' 'Indonesia' 'Qatar' 'Bolivia' 'Latvia' 'Paraguay' 'China'
 'Bhutan' 'Slovenia' 'Malaysia' ' South Korea' 'El Salvador' 'Honduras'
 'Costa Rica' 'United State' ' Puerto Rico' 'Cyprus' 'Romania' 'Croatia'
 'Kazakhstan' 'Venezuela' 'Dominican Republic' 'Nicaragua']
Unnamed: 11: [nan]
Unnamed: 12: [nan]
Unnamed: 13: [nan]

In [13]:
df.isnull().sum()[df.isnull().sum() > 0]

City              2
Unnamed: 11    7776
Unnamed: 12    7776
Unnamed: 13    7776
dtype: int64

In [14]:
image_path = 'images/'
try:
  image_path = prefix + image_path
except NameError:
  pass